@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.cardss {
  place-content: normal;
  margin-top: 50px;
  contain: content;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  width: 230px;
  height: 350px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.top-suit {
  font-size: 60px;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 40px;
}
.bottom {
  display: inline;
  font-size: 60px;
  float: right;
  margin-right: 10px;
  padding-bottom: 40px;
}

.number {
  margin: auto;
  text-align: center;
  font-size: 80px;
  padding: 5%;
}
