@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  font-family: serif;
}
.card {
  font-family: "Times New Roman", Times, serif;
  position: relative;
  width: 330px;
  height: 450px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.top-suit {
  font-size: 100px;
  position: absolute;
  top: 5px;
  left: 10px;
}
.bottom-suit {
  position: absolute;
  font-size: 100px;
  bottom: 20px;
  right: 10px;
}
.number {
  margin: auto;
  text-align: center;
  font-size: 100px;
  padding: 16%;
}
